
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Lora&family=Outfit:wght@400;700&display=swap');

body {
    background-color: #CFD8DC;
    font-family:'Outfit';
    font-size: 15px;
  }
  
  .gcash {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    

  }
  
  .gcash img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
  }
  
  .bgcolor {
    background-color: white;
    border-radius: 15px;
    height: 480px;
    width: 325px;
    margin-bottom: 50px;
  }
.all{
  display: flex;
  justify-content: center;
  margin-top: 130px;

  
}
  
  .text {
    text-align: center;
   
  }
  .skills{
    font-weight: bold;

  }
  .Scan {
    margin-top: -25px;
    padding-bottom: 20px;
    opacity: 50%;

    
  }
  .attribution {
    text-align: center;
    font-size: 15px;
    
  }

  @media only screen and (max-width:376px){
    .all{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -130px;
    }
    .bgcolor{
      margin-top: 200px;
      margin-bottom: 30px;
      height: 420px;
      width: 280px;
    }
    .gcash img {
      height: 250px;
      width: 250px;
      border-radius: 10px;
    }
    .skills{
      font-size: 19px;
    }
    .Scan{
      font-size: 14px;
    }
  
  }
  @media  screen and (min-width: 376px) and (max-width: 1440px){
    .all{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .bgcolor{
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
  }
 
